<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="CSLocalUrl" value="http://localhost:57236/ | https://localhost/ | https://cyberscope-staging.dhs.gov | https://dayman.cyber-balance.com/jira/login.jsp " />
    <add key="CSDaymanUrl" value="https://dayman.cyber-balance.com/CyberScopeBranch/" />
    <add key="UseCrystalOLE" value="true" />
    <add key="Server" value="localhost" />
    <add key="Database" value="CyberScope" />
    <add key="Database_User" value="CSAdmin" />
    <add key="Database_Password" value="P@ssword1" />
    <add key="chromedriverpath" value="c:\\bom\\" />

    <add key="CSTargerUrl" value="https://localhost/" />
    <add key="AgencyUser" value="Bill-D-Robertson" />
    <add key="AgencyPass" value="P@ssword1" />
    <add key="AdminUser" value="Adrian-T-Solis" />
    <add key="AdminPass" value="P@ssword1" />

    <add key="TestDataDir" value="D:\dev\CyberScope\CyberScopeBranch\CSwebdev\code\CyberScope.Tests\Selenium\TestData\{Type}_Validations.csv" />
    <add key="DownloadsDir" value="c:\Users\Tim\Downloads" />
    <add key="LoggerDir" value="d:\logs" />
    <add key="ScreenshotLogDir" value="d:\logs\ScreenShots\{uri}_{log}_{date}.png" />
    <add key="InitIIS" value="true" />

  </appSettings>
  <connectionStrings>
    <add name="CAConnCrystalRpts" connectionString=";Initial Catalog=Cyberscope123;Data Source=DESKTOP-OM9UKAC;User ID=CSadmin;Password=P@ssword1;Max Pool Size=200" />
    <add name="CAClientConnectionString" connectionString=";Initial Catalog=Cyberscope123;Data Source=DESKTOP-OM9UKAC;User ID=CSadmin;Password=P@ssword1;Max Pool Size=200" />

  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.1" newVersion="6.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.15.0.0" newVersion="2.15.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing.Common" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>